$orange: #FF8C1A;
$peach: #FF9436;
$sand: #FFAB59;
$grass: #997521;
$vine: #9C4529;
$brown: darken($orange, 20%);

body, html {
    height: 100%;
}

body {
    font-family: 'Roboto', sans-serif;
    z-index: 1;
}

.fixed-body {
    overflow: hidden;
}

section {
    overflow: hidden;
}

a {
    text-decoration: none;
    color: black;
}

.popup-overlay {
    display: none;
    width: 100%;
    height: 100%;
    opacity: 0.9;
    background-color: darken(gray, 50%);
    position: fixed;
    top: 0;
    left: 0;
    z-index: 2;

    .code-snippet {
        position: absolute;
        top: 10px;
        right: 10px;
        opacity: 1;
        z-index: 20;
    }
}

.popup {
    display: none;
    width: 100%;
    max-width: 723px;
    font-weight: bold;
    margin: 0 auto;
    position: fixed;
    right: 0;
    top: 50px;
    left: 0;
    z-index: 3;
    max-height: 100%;
    overflow: auto;


    .tab-container {
        opacity: 1 !important;
        font-size: 20px;
        z-index: 10;
        
        .nav-tabs {
            border-bottom: 0;
            
            li {
                background-color: darken(gray, 15%);
                border-radius: 5px 5px 0 0;
                border-left: 2px solid #eceff5;

                a {
                    color: #eceff5;

                    &:hover, &:focus, &:visited {
                        background-color: black;
                    }
                }
            }

            .active {
                background-color: black;
            }
        }

        .tab-content {
            background-color: black;
            //height: 200px;
            border-radius: 0 5px 5px 5px;
            //padding: 20px;
            border-top: 2px solid #eceff5;
            border-left: 2px solid #eceff5;

            [id^="html-tab"] {
              color: #26c8fe;
            }

            [id^="css-tab"] {
                color: #ef4d9c;
            }

            [id^="js-tab"] {
                color: #5fd00b;
            }

            i {
                position: absolute;
                bottom: 10px;
                right: 10px;
                color: #5fd00b;
                font-size: 20px;
            }

            pre {
                background-color: black;
                color: inherit;
            }
        }
    }

    .contact-me {
      height: 200px;
      width: 80%;
      margin: 20% auto;
      color: white;
      font-size: 20px;
      z-index: 2;
      
      p {
        font-size: 20px;

        a {
          color: white;
          text-decoration: underline;
        }
      } 
    }
}

.code-snippet {
    margin: 10px;
    padding: 7px 10px;
    background-color: black;
    border: 2px solid $brown;
    border-radius: 10px;
    display: inline-block;
    z-index: 10;

    i {
        color: #5fd00b;
        font-size: 20px;
    }
}

h2 {
    margin: 40px auto;
}

h1, h2, h3 {
    font-weight: bold;
}

h1, h2, h3, p {
    text-align: center;
    font-size: 2em;
}

ul {
    margin: 0;
}

.cont {
    width: 90%;
    margin: 0 auto;
}

.underline {
    width: 150px;
    height: 2px;
    margin: 45px auto;
    background-color: $brown; 
}

.descr {
    padding: 25px;
}


.btn-default {
    margin: 0 auto;
    color: white;
    font-weight: bold;
    text-shadow: 0 1px 0 #9C4529;
    background-image: -webkit-linear-gradient(top,#9C4529 0,#e0e0e0 100%);
    background-image: -o-linear-gradient(top,#fff 0,#e0e0e0 100%);
    background-image: -webkit-gradient(linear,left top,left bottom,from(#fff),to(#e0e0e0));
    background-image: linear-gradient(to bottom,#9C4529 0,#471f13 100%);
}

.btn-default:hover {
    background-color: #471f13;
    color: white;
}

.btn-default:focus {

    color: white;
}

.btn-default:active {
    background-color: #9C4529;

}

.btn-default:hover,
.btn-default:focus  {
    background-position: 0;
}

.fixed {
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 10;
}

.def {
    position: static;
}

.a-default {
    opacity: 1;
    -webkit-transform: translateY(0);
    transform: translateY(0);
    -webkit-transition: transform 1s, opacity 1s;
    transition: transform 1s, opacity 1s;
}

.a-start {
    -webkit-transform: translateY(50%);
    transform: translateY(50%);
    opacity: 0;
}

 @-webkit-keyframes scroll-bottom {
    0% {opacity: 0; top: 0;}
    50% {opacity: 1; top: 17;}
    100% {opacity: 0; top: 35;}
}

@keyframes scroll-bottom {
    0% {opacity: 0; top: 0;}
    50% {opacity: 1; top: 17;}
    100% {opacity: 0; top: 35;}
}

#header {
    overflow: hidden;
    height: 100%;

    .parallax-window {
        height: 100%;
        background: transparent;
        position: relative;

        .overlay {
            background-color: rgba(255, 152, 0, 0.41);
            background-image: url(../images/pattern.png);
            background-repeat: repeat;
            height: 100%;
            left: 0;
            position: absolute;
            top: 0;
            width: 100%;

            .prev {
                text-align: center;
                color: lighten($sand, 10%);
                font-size: 1.5em;
                padding-top: 10%;
                height: 100%;
                width: 100%;
                vertical-align: bottom;
                
                .around {
                    cursor: pointer;
                    position: relative;
                    border-radius: 100%;
                    border: 5px solid lighten($sand, 10%);
                    margin: 50px auto 0;
                    width: 65px;
                    height: 65px;
                    
                    i {
                        position: absolute;
                        top: 35px;
                        left: 16px;
                        font-size: 1.2em;
                        animation: scroll-bottom 3s infinite;
                        -webkit-animation: scroll-bottom 3s infinite;
                    }
                }
            }
        }
    }
}

#nav-wrapper {
    overflow: visible;
    height: 50px;
    background-color: lighten($sand, 10%);

    #nav {
        background-color: $peach;
        padding-right: 4%;
        z-index: 1;

        &:after {
            content: "";
            clear: both;
            display: table;
        }

        .desktop-nav {
            float: right;

            li {
                list-style: none;
                display: inline-block;
                position: relative;

                a {
                    line-height: 1.2em;
                    font-size: 1.2em;
                    padding: 15px 15px;
                    display: inline-block;
                    font-weight: bold;
                    position: relative;
                    transition: color 0.5s;

                    &:hover {
                        text-decoration: none;
                        color: $grass;
                    }

                    &:before {
                        content: "";
                        position: absolute;
                        top: 40px;
                        left: 15px;
                        right: 15px;
                        border-bottom: 3px solid $grass;
                        -webkit-transform: scale(0,0);
                        transform: scale(0,0);
                        -webkit-transition: -webkit-transform 1s;
                        transition: transform 1s;
                    }
                    
                }  
            }

            li:hover a:before{
                -webkit-transform: scale(1,1);
                transform: scale(1,1);
            }

        }

        .mobile-nav {
            position: relative;
            width: 100%;
            display: none;
            padding: 5px 0;
            height: 40px;
            
            i {
                position: absolute;
                right: 20px;
                top: 9px;
                color: lighten($sand, 10%);
            }

            .drop-nav {
                display: none;
                position: absolute;
                top: 40px;
                z-index: 1;
                background-color: lighten($sand, 25%);
                width: 100%;
                text-align: left;
                border-bottom: 4px solid $brown;
                font-size: 16px;
                line-height: 50px;

                    li {
                        list-style: none;
                    }
            }
        }
    }

}

#to-do {
    padding-bottom: 50px;
    background-color: lighten($sand, 10%);
    .cont {
        .todo-cont {
            .todo-item {
                margin-bottom: 10px;
                
                .bordered {
                    background-color: white;
                    border-radius: 3%;
                    border-right: 3px solid $orange;
                    border-bottom: 3px solid $orange;

                    p {
                        padding: 20px;
                        margin: 0;

                        i {
                            color: $brown;
                            font-size: 34px;
                            padding-top: 10px;
                        }
                    }
                }
            }
        }
    }
}

#works {
    background-color: lighten($sand, 17%);
    padding: 50px 0;

    .cont {
        .works-cont {
            .works-item {
                display: inline-block;
                position: relative;
                text-align: center;
                margin-bottom: 20px;

                &:before, &:after {
                    position: absolute;
                    content: "";
                    top: 30px;
                    right: 30px;
                    bottom: 30px;
                    left: 30px;
                    -webkit-transition: transform 0.5s;
                    transition: transform 0.5s;
                }

                &:before {
                    border-bottom: 2px solid white;
                    border-top: 2px solid white;
                    -webkit-transform: scale(0,1);
                    transform: scale(0,1);    
                }

                &:after {
                    border-left: 2px solid white;
                    border-right: 2px solid white;
                    -webkit-transform: scale(1,0);
                    transform: scale(1,0);   
                }

                &:hover {
                    
                    &:before {
                        -webkit-transform: scale(1,1);
                        transform: scale(1,1);
                    }

                    &:after {
                        -webkit-transform: scale(1,1);
                        transform: scale(1,1);
                    }
                }

   
                img {
                    width: 100%;
                    height: 100%;
                    display: block;
                }
                h3 {
                    position: absolute;
                    top: 10%;
                    color: white;
                    padding-left: 30px;
                }
                p {
                    position: absolute;
                    top: 50%;
                }
            }
        }
    }
}

#skills {
    padding: 50px 0;
    background-color: lighten($sand, 10%);

    .cont {

        .skills-cont { 

            .skills-item {
                overflow: hidden;

                .skills-wrap {
                    height: 208px;
                    border: 4px solid black;
                    width: 35%;
                    margin: 0 auto;
                    position: relative;
                    background-color: black;
                    border-radius: 10px;
                    text-align: center;
                    font-size: 22px;

                    span {
                        position: absolute;
                        bottom: 0;
                        font-weight: bold; 
                        left: 0;
                        width: 100%;   
                    }

                    .animated-column {
                        -webkit-transition: height 1s linear;
                        transition: height 1s linear;
                        position: absolute;
                        bottom: 0;
                        width: 100%; 
                        height: 0;
                        border-radius: 0 0 8px 8px;
                    }

                    .js-80 {
                        border: 1px solid lighten($vine, 10%);
                        background-color: lighten($vine, 10%);
                    }
                    .jq-85 {
                        border: 1px solid $grass;
                        background-color: $grass;
                    }
                    .html-95 {
                        border: 1px solid $orange;
                        background-color: $orange;
                    }
                    .css-90 {
                        border: 1px solid lighten(red, 10%);
                        background-color: lighten(red, 10%);
                    }
                }
            }
        }
    }
    

    .skills-item {
        overflow: hidden;
    }

    .js-80 {
        width: 25%;
        margin: 0 auto;
        background-color: $vine;
    }
    .jq-85 {
        width: 25%;
        margin: 0 auto;
        background-color: $grass;
    }
    .html-95 {
        width: 25%;
        margin: 0 auto;
        background-color: $orange;
    }
    .css-90 {
        width: 25%;
        margin: 0 auto;
        background-color: $grass;
    }
}

#tech {
    background-color: lighten($sand, 17%);
    padding: 50px 0;
    
    .cont {
        .tech-cont {
            table {
                border-collapse: separate;
                border-spacing: 10px;
                background-color: $peach;
                font-weight: bold;
                font-size: 16px;

                td {
                    vertical-align: middle;
                    padding: 35px 20px;
                    text-align: center;
                    background-color: $sand;
                    border-radius: 10px;
                    border-top: 0;
                }

                .align-left {
                    text-align: left;
                    padding-left: 40px;
                }
            }

            #mobile-table {
                display: none;
            }
        }
    } 
}

#offer {
    background-color: $grass;
    margin-bottom: 4px;
    -webkit-box-shadow: 0px 4px 5px 0px rgba(153,117,34,0.55);
    -moz-box-shadow: 0px 4px 5px 0px rgba(153,117,34,0.55);
    box-shadow: 0px 4px 5px 0px rgba(153,117,34,0.55);

    .cont {
      color: white;
        
        h2 {
            margin-bottom: 15px;
        }
        
        .button {
            margin: 25px auto;
            width: 100px;
            
            a {
              color: white;
            }
        }
    }
}

#contact {
    background-color: lighten($sand, 17%);
    padding: 50px 0;

    .contact-cont {
        width: 50%;
        margin: 0 auto;

        button {
            width: 100%;
        }
    }
}

footer {
    padding: 30px;
    background-color: darken($vine, 15%);


    p {
        color: white;
        font-style: italic;

        i {
            color: red;
            font-size: 30px;
        }
    }
}

.scroll-page-up {
    width: 40px;
    cursor: pointer;
    height: 40px;
    position: fixed;
    border-radius: 10px;
    bottom: 25px;
    right: 25px;
    background-color: lighten($vine, 10%);
    padding: 10px;
    opacity: 0.6;
    display: none;


    i {
        color: darken($vine, 10%);
        font-size: 20px;
        margin-left: 1px;
    }
}

@media screen and (max-width: 900px) {

    h2 {
        margin: 10px auto;
    }

    h1, h2, h3, p {
        text-align: center;
        font-size: 1.5em;
    }

    .descr {
        padding: 10px;
    }

    .desktop-nav {
        display: none;
    }

    #header {
        height: 60%;
    }
    #nav-wrapper {
        
        #nav {

            padding-right: 0;

            .mobile-nav {
                display: inline-block;
                color: white;
                font-size: 2em;
                text-align: right;
                width: 100%;
            }
        }
    }
  
    #contact {

        .cont {

            .contact-cont {
                width: 90%;
            }
        }
    }

    #tech {
        .cont {
            .tech-cont {
                #table {
                    display: none;
                }
                
                #mobile-table {
                    display: table;
                    border-spacing: 5px;

                    td {
                        padding: 15px;
                    }
                }
            }
        }
    }   
}

@media screen and (max-width: 600px) {
    h1, h2, h3, p {
        text-align: center;
        font-size: 1.2em;
    }
}

